/* Main Body */    

body {
    background: black;
}

#content {
    background: grey;
    width: 90%;
    margin: 5%;
}

/* Title */

/* Instructions */

/* Game Number */

/* User Stats */

/* Crystals */

/* User Score */