/* Main Body */    

body {
    background: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#content {
    background-size: cover;  
    border-radius: 50%;  
    width: 90%;
    margin: 5%;
}

/* Title */

#title {
    background: orange;    
    width: fit-content;
    margin: 0% 40%;
    padding: 25px 10px;
    font-size: 30px;
    font-weight: 700;
}

/* Instructions */

#instructions {
    background: royalblue;
    margin: 0% 20%;
    padding: 10px 10px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

/* Number/Stats */

#numberStats {
    display: inline-flex;
    margin: 0% 35%;
}

#gameNumber {
    background: salmon;
    width: 175px;
    height: 65px;
    margin: 0% 5%;
    font-weight: 700;
    font-size: x-large;
    text-align: center;
}

#userStats {
    background: yellow;
    width: 150px;
    height: fit-content;
    margin: 0% 5%;
    font-weight: 700;
    font-size: x-large;
    text-align: center;
}

/* Crystals */

#crystals {
    display: inline-flex;
    margin: 0% 34%;
}

#ruby {
    margin: 0% 1%;    
}

#ruby:hover {
    cursor: pointer;
}

#diamond {
    margin: 0% 1%;
}

#diamond:hover {
    cursor: pointer;
}

#sapphire {
    margin: 0% 1%;
}

#sapphire:hover {
    cursor: pointer;
}

#emerald {
    margin: 0% 1%;
}

#emerald:hover {
    cursor: pointer;
}

/* User Score */

#userScore {
    background: springgreen;
    width: 175px;
    height: 75px;
    margin: 0% 40% 0% 40%;
    font-weight: 700;
    font-size: x-large;
    text-align: center;
}